<app-page-header [title]='title'></app-page-header>
<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" label="New" icon="fa fa-plus" class="ui-button-info"></button>
        <button pButton type="button" label="Edit" icon="fa fa-pencil" class="ui-button-success"></button>
        <button pButton type="button" label="Save" icon="fa fa-floppy-o" class="ui-button-success"></button>
        <button pButton type="button" label="List" icon="fa fa-list" class="ui-button-info"></button>
        <button pButton type="button" label="Print" icon="fa fa-print" class="ui-button-success"></button>
        <button pButton type="button" class="ui-button-danger" label="Cancel" icon="fa fa-close"></button>

    </div>
</p-toolbar>
<br><br>

<div class="card card-w-title" [formGroup]='qualificationForm'>
    <div class="p-grid" style="padding-left: 10%;">
        <div class="p-col-1">
            <label>Code:</label>
        </div>
        <div class="p-col-4">
            <input type="text" pInputText style="width: 100%;" formControlName="Code" placeholder="--Code--"/>
            <div class="error" *ngIf="f.Code.touched && f.Code.invalid">
                <span> Code is Mandatory Field*</span>
            </div>
        </div>
    </div>
    <div class="p-grid" style="padding-left: 10%;">
        <div class="p-col-1">
            <label>Qualificaton:</label>
        </div>
        <div class="p-col-7">
            <input type="text" pInputText style="width: 100%;" formControlName="Qualificaton" placeholder="--Qualificaton--"/>
            <div class="error" *ngIf="f.Qualificaton.touched && f.Qualificaton.invalid">
                <span> Qualificaton is Mandatory Field*</span>
            </div>
        </div>
    </div>
</div>